<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="ul-items">
                <li class="item"><a href="/">Shop</a></li>
                <li class="item"><a href="/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-page">
        <div class="card">
            <header>First book</header>
            <p>price</p>
        </div>
    </main>
</body>
</html>