body {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 40px;
    background-color: rgb(2, 152, 102);
}

.nav{
    height: 100%;
    display: flex;
    align-items: center;
    
}

.ul-items{
    display: flex;            
    margin: 0;
    padding: 0;            
}

.item{
    margin-left: 1.5rem;
    list-style: none;            
    font-size: 1.2rem;
     }

.item a{
    color:rgb(234, 217, 196);
    text-decoration: none;
 }  
 
 .main-page{
    margin: 20px;
    padding: 20px;
    display: -ms-inline-grid;
 }

 .card{
    padding: 10px;
    width: 100px;
    border: 1px black solid;
 }

 .main {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 5%;
    justify-content: center;
 } 
 .add-product-form {
    display: flex;
    flex-direction: column;
    width: 30%;
 }
 .input-filed {
    height: 2rem;
    margin-bottom: 1rem;            
 }   