<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>   
    <main class="main-page card-container">
      Checkout Page
    </main>
  </body>
</html>
<%- include('../includes/end.ejs') %>
